html,
body {
	height: 100%;
}

body {
	max-width: 1920px;
	margin: 0 auto;
	background-color: var(--theme-bg);
	position: relative;
}

a {
  overflow-wrap: break-word;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
  overflow: auto;
}

pre .language-id {
  display: none;
}