:root {
	/* Theme Colors - Ocean */
	--theme-primary: #1556ac;
	--theme-primary-hover: #2569c3;
	--theme-on-primary: hsl(0, 0%, 100%);

	--theme-bg: #fafafa;
	--theme-on-bg: #0c0d0d;

	--theme-surface-1: #eef1f3;
	--theme-on-surface-1: #0c0d0d;

	--theme-surface-2: #072650;
	--theme-on-surface-2: #ffffff;

	/* Theme Shapes */
	--theme-shape-radius: clamp(1rem, 2rem, 3rem);
	--theme-button-border-radius: 3rem;

	/* Theme Transition */
	--theme-transition: 0.2s ease-in-out;

	/* Theme Layout */
	--section-margin: 3rem;
	--theme-grid-gap: 1rem;
	--container-max-width: 1440px;
	--container-max-width-narrow: 960px;
	--container-padding: 0 1rem;

	--theme-blog-post-header-width: 1200px;

	/* Theme Fonts */
	--theme-font-family-serif: 'Roboto Serif', Georgia, Cambria, 'Times New Roman',
		Times, serif;
	--theme-font-family-sans: 'Lato', -apple-system, BlinkMacSystemFont,
		sans-serif;
}
